{% extends 'dashboard.html' %}
{% load static %}

{% block 'content-escolas' %}  
<div class="container-fluid px-5">
    <div class="container-fluid  rounded">
        <div class="row headerschool">
            <div class="col-5 p-5 text-white d-flex justify-content-center flex-column">
                <h2 class="fw-bold">Bem-vindo(a)!</h2>
                <p>Essa é a área administrativa, acesso restrito para Administradores! Liste e adicione novos usuários.</p>
            </div>
            <div class="col"><img src="{% static 'img/images/school_header.png' %}" class="img-fluid" alt="..."></div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
        <h1>Escolas</h1>
        <button type="button" class="btn btn-green text-white"><span class="material-symbols-outlined align-middle pe-1">add</span>Adicionar</button>
    </div>
</div>          
{% endblock %}
