{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block 'conteudo' %}  
<div class="container-fluid px-4">
    <div class="container-fluid rounded">
        <div class="row headerschool">
            <div class="col-5 px-5 text-white d-flex justify-content-center flex-column">
                <h2 class="fw-bold">Bem-vindo(a)!</h2>
                <p>Essa é a área administrativa, acesso restrito para Administradores! Liste e adicione novos usuários.</p>
            </div>
            <div class="col"><img src="{% static 'img/images/school_header.png' %}" class="img-fluid" alt="..."></div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4 px-4">
        <h2>Usuários cadastrados</h2>
        <button type="button" class="btn btn-green text-white" data-bs-toggle="modal" data-bs-target="#createUsuario"><span class="material-symbols-outlined align-middle pe-1">add</span>Adicionar</button>
    </div>

    <div class="container-fluid d-flex flex-wrap">
    {% for user in users %}
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="col">
                        <h5 class="card-title fw-bold">{{user.get_username}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.groups.all.0.name}}</h6>    
                    </div>
                    <a href="{% url 'editUsuario' user.id %}"><button type="button" class="btn"><span class="material-symbols-outlined text-secondary">edit</span></button></a>
                </div>  
                <div class="d-grid gap-2 d-md-flex justify-content-between">   
                    <a href="{% url 'deleteUser' user.id %}"><button class="btn btn-danger" type="button"  data-bs-toggle="modal" data-bs-target="#deleteModal">Deletar</button></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>  

{% block 'modalDelete' %} 
{% endblock %}


<div class="modal fade" id="createUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cadastrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="d-grid my-3">
                    <button type="submit" value="Submit" class="btn btn-success">Salvar</button>
                  </div>              
            </form>
        </div>
      </div>
    </div>
  </div>
  
    {% if form.errors %}
        <div class="alert alert-danger d-flex justify-content-between align-items-center position-fixed bottom-0 start-0 m-3" role="alert" style="width:600px">
            <span class="col-1 material-symbols-outlined">warning</span>
            <div class="col px-3">Algo deu errado, confira os dados e tente novamente.</div>
            <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if form.is_valid %}
        <div class="alert alert-success d-flex justify-content-between align-items-center position-fixed bottom-0 start-0 m-3" role="alert" style="width:600px">
            <span class="col-1 material-symbols-outlined">select_check_box</span>
            <div class="col px-3">Usuário cadastrado com sucesso.</div>
            <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}

